<header>
    <div class="container">
        <div class="site-header">
            <a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books</i></a>
            {% if current_user.is_authenticated %}
              <a class="button icon-right" href="{{ url_for('new') }}"><span>New Entry</span> <i class="material-icons">add</i></a>
              <a class="button icon-right authenticate" href="{{ url_for('logout') }}"><span>LogOut</span> <i class="material-icons">lock_outline</i></a>
            {% else %}
              <a class="button icon-right authenticate" href="{{ url_for('login') }}"><span>Login</span> <i class="material-icons">lock_open</i></a>
            {% endif %}
        </div>
    </div>
</header>
