{% extends "layout.html" %}

{% block content %}
  <div class="entry-list single">
      <article>
          <h1>{{ entry.title }}</h1>
          <time datetime="2016-01-31">{{ entry.date }}</time>
          <div class="entry">
              <h3>Time Spent: </h3>
              <p>{{ entry.time_spent }}</p>
          </div>
          <div class="entry">
              <h3>What I Learned:</h3>
              <p>{{ entry.content }}</p>
          </div>
          <div class="entry">
              <h3>Resources to Remember:</h3>
              <ul>
                  {% for item in entry.resources.split(',') %}
                    <li><a href="">{{ item }}</a></li>
                  {% endfor %}
              </ul>
          </div>
      </article>
  </div>
{% endblock %}
  <div class="edit">
      <p><a href="edit.html">Edit Entry</a></p>
  </div>
