{% extends "layout.html" %}

{% block content %}
  <div class="entry-list">
      <article>
          <h2><a href="{{ url_for('detail') }}">The best day I’ve ever had</a></h2>
          <time datetime="2016-01-31">January 31, 2016</time>
      </article>
      <article>
          <h2><a href="{{ url_for('detail') }}">The absolute worst day I’ve ever had</a></h2>
          <time datetime="2016-01-31">January 31, 2016</time>
      </article>
      <article>
          <h2><a href="{{ url_for('detail') }}">That time at the mall</a></h2>
          <time datetime="2016-01-31">January 31, 2016</time>
      </article>
      <article>
          <h2><a href="{{ url_for('detail') }}">Dude, where’s my car?</a></h2>
          <time datetime="2016-01-31">January 31, 2016</time>
      </article>
  </div>
{% endblock %}
