{% extends "layout.html" %}

{% block content %}
  <div class="entry-list">
    {{ entries.count() }}
    {% for entry in entries %}
      <article>
        <h2><a href="{{ url_for('detail', slug=entry.slug) }}">{{ entry.title }}</a></h2>
        <time datetime="{{ entry.date }}">{{ entry.formatted_date }} {{ entry.timestamp.strftime('%-I:%M%p') }}</time>
        <div class="tags">
          {% for tag in entry.tags.split(',') %}
            <span class="tag"><a href="{{ url_for('index', tag=tag.strip()) }}">{{ tag }}</a></span>
          {% endfor %}
        </div>
      </article>
    {% endfor %}
  </div>
{% endblock %}
