{% extends "layout.html" %}

{% block content %}
  {% if entries.count() > 0 %}
    <div class="entry-list">
      {% for entry in entries %}
        <article>
          <h2><a href="{{ url_for('detail', slug=entry.slug) }}">{{ entry.title }}</a></h2>
          <time datetime="{{ entry.date }}">{{ entry.formatted_date }} {{ entry.timestamp.strftime('%-I:%M%p') }}</time>
          <div class="tags">
            {% for tag in entry.tags.split(',') %}
              <span class="tag"><a href="{{ url_for('index', tag='-'.join(tag.strip().split(' '))) }}">{{ tag }}</a></span>
            {% endfor %}
          </div>
        </article>
      {% endfor %}
    </div>
  {% else %}
    <div class="entry-list">
      <article>
        <h2>No entries to display yet!</h2>
      </article>
    </div>
  {% endif %}
{% endblock %}
